<section class="contact-container">
  <h2>{{ 'contact.title' | translate }}</h2>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text" formControlName="nombre" [placeholder]="'contact.placeholder.name' | translate">
      <span *ngIf="contactForm.get('nombre')?.invalid && contactForm.get('nombre')?.touched">{{ 'contact.error.name' |
        translate }}</span>
    </div>

    <div class="form-group">
      <input type="email" formControlName="email" [placeholder]="'contact.placeholder.email' | translate">
      <span *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">{{ 'contact.error.email' |
        translate }}</span>
    </div>

    <div class="form-group">
      <textarea formControlName="mensaje" [placeholder]="'contact.placeholder.message' | translate"></textarea>
    </div>

    <button type="submit" [disabled]="contactForm.invalid">{{ 'contact.send' | translate }}</button>
  </form>
</section>